<!DOCTYPE html>
<html>
  <head>
    <title>Doitnow</title>
    <script src="https://use.fontawesome.com/e514a4810c.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
